body{
  background-image: url(../images/manos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}

div {
  background-color: rgb(23, 141, 151, 0.9);
  height: 940px;
  width: 600px;
  border-radius: 25px;
  border-style: double;
  border-color: white;
  border-width: thick;

}

h1{
  font-family: Josefin sans, sans-serif;
  font-weight: bold;
  font-size: 150px;
  text-align: left;
  text-shadow: 4px 4px #badbda;
  /* padding-left: 75px; */
  color: white;
}

.textito{
  padding-top: 60px;
  padding-left: 20px;
  font-size: 20px;font-family: varela round, sans-serif;
  color: white;

}

.links{
  font-family: Questrial, sans-serif;
  font-size: 15px;
  padding-left: 20px;

  color: white;
}

h3{
  color: white;
  font-family: Questrial, sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 150px;
  text-decoration: underline;
  font-weight: lighter;
  font-style: oblique;
}

.boton{
  background-color: white;
  border: none;
  padding: 16px 32px;
  font-family: varela round, sans-serif;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.boton:hover{
  background-color: rgb(102, 204, 155);
  color: white;
}

.logo{
  margin: auto 5px;
      float: right;
      width: 300px;
      height: 300px;
}
