body{
  background-image: url(../images/manos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;

}

h1{
  font-family: Josefin sans, sans-serif;
  font-size: 150px;
  color: white;
  text-shadow: 4px 4px #badbda;
}

div{
  background-color: rgb(23, 141, 151, 0.9);
  margin-top: 200px;
  margin-left: 10px;
  margin-right: 1500px;
  border-style: double;
  border-color: white;
  border-radius: 25px;
}

p{
  font-family: Varela round, sans-serif;
  color: white;
  margin-left: 20px;
}

a{
  color: white;
}
